body{
    background: rgb(92, 145, 123);
    animation-name: start;
    animation-duration: 2s;
    justify-self: center;
    font-family: 'Source Code Pro', monospace;
}
a.menli{
    color: white;
    text-decoration: none;
    font-family: 'Anton', sans-serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-size: 1.2rem;
}
.row{
    display: flex;
}
.menu{
    color: white;
    float: right;
}
img{
    margin: auto;
    height: 200px;
    width: 80%;
    display: flex;
    flex-direction: row;
    transition: all 1s;
}
img:hover{
    height: 300px;
    width: 100%;
}
a:hover{
    color:orange;
}
.footer{
    float: center;
    text-align: center;
    background: rgb(00, 00, 00);
    color: white;
    font-family: sans-serif;
}
::selection{
    background-color: white;
}
.contact{
    display: block;
    justify-self: center;
    align-items: center;
    float: center;
}
@keyframes start{
    0%{opacity:0;}
    50%{opacity:0.5;}
    100%{opacity:1;}
}
